<launch>
  <!-- Inicia o broker Mosquitto em segundo plano -->
  <node pkg="sanbot_ros" type="start_mosquitto.sh" name="mqtt_broker" output="screen" launch-prefix="bash" />

  <!-- Nó Python que conecta ROS ao MQTT -->
  <node pkg="sanbot_ros" type="ros_to_mqtt.py" name="ros_to_mqtt" output="screen" />
</launch>
